Source: oxygen-icons
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>,
 Armin Berres <armin+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: debhelper (>= 7), cdbs, cmake
Standards-Version: 3.8.0
Homepage: http://www.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/trunk/packages/oxygen-icons
Vcs-Svn: svn://svn.debian.org/pkg-kde/trunk/packages/oxygen-icons

Package: oxygen-icon-theme
Section: kde
Architecture: all
Replaces: kde-icons-oxygen, kdebase-data (<= 4:4.0.0-1), libkdepim4 (<< 4:4.0.98), dolphin (<< 4:4.1.86+svn902162)
Conflicts: kde-icons-oxygen
Provides: kde-icons-oxygen
Description: Oxygen icon theme for KDE 4
 Oxygen is the standard icon theme for KDE 4.
